@charset 'utf-8';

.g-h {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	transition: all 0.5s ease-out;
	a {
		text-decoration: none !important;
	}
	.g-h__inner {
		max-width: 1920px;
		margin: 0 auto;
		.g-h-contents {
			justify-content: space-between;
		}
		.g-h-contents .l-box h1 {
			margin-bottom: 0 !important;
		}
		.g-h-contents .l-box .link {
			display: block;
			width: 21rem;
			height: auto;
			margin-left: 2.7rem;

			@media (max-width: 950px) {
				width: 21rem;
				margin-left: 1.2rem;
				padding-top: 0;
				padding-bottom: 0;
			}
			svg {
				width: 100%;
			}
		}
		.g-h-contents .r-box {
			height: 8rem;
			align-items: center;
			> .g-nav,
			> .external-link {
				@media (max-width: 950px) {
					display: none;
				}
			}
			.g-nav {
				z-index: 10;
				margin-right: 6.5rem;
				@media (max-width: 1200px) {
					margin-right: 3rem;
				}
				.g-nav-list .g-nav-list__item {
					list-style: none;
					position: relative;
					> .box {
						height: 27px;
						overflow: hidden;
						transition: 0.2s;
						position: relative;
						margin-left: 6.5rem;
						width: 10.5rem;
						@media (max-width: 1200px) {
							margin-left: 3rem;
						}
						&:hover {
							overflow: visible;
							.sub-navi {
								opacity: 1;
							}
              .link:after{
                opacity: 1;
              }
						}
						.space {
							height: 1rem;
							width: 25rem;
						}
						.sub-navi {
							background-color: #fff;
							width: 28rem;
							list-style: none;
							padding: 18px;
							transition: 0.2s;
							opacity: 0;
							.sub-navi-list {
								margin-bottom: 16px;
								&:not(last-child) {
									margin-bottom: 0;
								}
								a {
									font-size: 1.4rem;
									font-weight: 500;
								}
								i {
									margin-right: 10px;
									font-size: 1.4rem;
								}
							}
						}
					}
				}

				.g-nav-list .g-nav-list__item .link {
					font-size: 1.5rem;
					font-weight: 500;
          position: relative;
          margin-bottom: 0;
          cursor: pointer;
          display: inline;
          &:after{
            content:"";
            position: absolute;
            left:0;
            bottom:-13px;
            width: 100%;
            height: 3px;
            opacity: 0;
            background-color: var(--main_color);
            transition: .2s;
          }

				}
			}
			.external-link {
				position: relative;
				width: 21rem;
				height: 100%;
				background: var(--main_color);
				> img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 14.7rem;
					height: auto;
				}
			}

			.toggle_wrap {
				display: none;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 2rem;
				z-index: 90;
				width: 60px;
				height: 60px;

				@media (max-width: 950px) {
					display: block;
				}
				.g-h__toggle {
					width: 100%;
					height: 100%;
					background: var(--main_color);
					border: 1px solid var(--main_color);
					padding: 0;
					outline: none;
					transition: 0.2s;
					&.active {
						span {
							&:nth-child(1) {
								transform-origin: center center;
								transform: rotate(225deg);
								top: 36px;
								left: 17px;
								width: 25px;
							}
							&:nth-child(2) {
								opacity: 0;
							}
							&:nth-child(3) {
								transform-origin: center center;
								transform: rotate(-225deg);
								top: 20px;
								left: 17px;
								width: 25px;
							}
						}
					}
					span {
						position: absolute;
						display: block;
						width: 20px;
						height: 3px;
						background: #fff;
						transition: transform 0.3s ease, opacity 0.3s ease;
						top: 28px;
						left: 20px;
						&:first-of-type {
							margin-top: -8px;
						}
						&:last-of-type {
							margin-top: 8px;
						}
					}
				}
			}

			#drower-menu {
				overflow: hidden;
				height: 100vh;
				display: none;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				padding-top: 110px;
				background-color: #fff;
        overflow-y: auto;
        padding-bottom: 60px;
				ul {
					padding: 0;
					margin: 0;
				}
				li {
					list-style: none;
					line-height: 1;
					padding: 19px 10px;
					p {
						text-decoration: none;
						padding-left: 20px;
						display: block;
						font-weight: 700;
					}
          ul{
            padding-left: 25px;
          }
					.external-link {
						width: 21rem;
						height: 60px;
						margin-left: 2rem;
						background: var(--main_color);
						> img {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 14.7rem;
							height: auto;
						}
					}
					.sub-navi-sp {
						margin-top: 5px;
						li {
							height: 30px;
							a {
								font-weight: 400;
								&:before {
									content: "";
									display: inline-block;
									width: 6px;
									height: 1px;
									background-color: var(--main_color);
									-webkit-transition: 0.2s;
									transition: 0.2s;
									margin-bottom: 5px;
                  margin-right: 10px;
									border: none;
								}
							}
						}
					}
				}
				> ul {
					li p {
						&:before {
							display: inline-block;
							width: 0;
							height: 0;
							margin-right: 10px;
							border-style: solid;
							border-width: 4px 0 4px 6px;
							border-color: transparent transparent transparent
								var(--main_color);
							content: "";
							-webkit-transition: 0.2s;
							transition: 0.2s;
							margin-bottom: 2px;
						}
						i {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}
.g-h__inner .g-h-contents .r-box .g-nav .g-nav-list .g-nav-list__item .link {
  color:#fff;
}
.g-h[data-js-scroll="true"] {
	background: #fff;
	transition: all 0.5s ease-out;
	.cls-1 {
		fill: var(--main_color);
		transition: all 0.5s ease-out;
	}
	.g-h__inner .g-h-contents .r-box .g-nav .g-nav-list .g-nav-list__item .link {
		color: #333;
	}
}
body.hidden {
	overflow: hidden;
}
