.employment {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	p {
		font-weight: 500;
	}
	.employment_mainvisual {
		margin-top: 124px;
		position: relative;
		margin-bottom: 45px;
		height: 300px;
		@media (max-width: 950px) {
			margin-top: 80px;
		}
		.img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			max-width: none;
		}
		.caption-wrap {
			position: absolute;
			left: 0;
			right: 0;
			top: calc(50% - 24px);
		}
		.caption {
			font-size: 4.8rem;
			font-weight: 700;
			margin-bottom: 2.8rem;
			line-height: 1;
			color: #fff;
			@media (max-width: 768px) {
				font-size: 3.8rem;
			}
			@media (max-width: 500px) {
				font-size: 2.7rem;
			}
		}
		.occupation {
			font-weight: 700;
			line-height: 1;
			color: #fff;
		}
	}

	.sec-works {
		margin-bottom: 12rem;
		@media (max-width: 768px) {
			margin-bottom: 8rem;
		}
		.container h2 {
			font-size: 3.6rem;
			font-weight: 700;
			margin-bottom: 6rem;
			@media (max-width: 768px) {
				font-size: 3.1rem;
				margin-bottom: 4rem;
			}
			@media (max-width: 500px) {
				font-size: 2.6rem;
			}
		}
		.flex-wrapper {
      display: flex;
			position: relative;
			width: calc(100% + (100vw - 100%) / 2);
			margin-bottom: 8.8rem;
			@media (max-width: 768px) {
				width: 100%;
				margin-bottom: 5rem;
        display: block;
			}
		}
		.headline {
			width: 32.8%;
			@media (max-width: 768px) {
        display: flex;
        gap:10px 20px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-bottom:10px;
			}
      @media (max-width: 400px) {
        gap:10px;
      }
			& > li {
				position: relative;
				width: 100%;
				margin: 0;
				padding: 2rem 2.5rem;
				background: #7e7e7e;
				color: #fff;
				cursor: pointer;
				@media (max-width: 768px) {
					font-size: 1.4rem;
					padding: 1.5rem 2rem;
          width: calc(50% - 10px);
				}
        @media (max-width: 400px) {
          width: calc(50% - 5px);

        }
			}
			& > li:not(.current):hover {
				opacity: 0.5;
			}
			& > li:not(:last-child):before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background: #fff;
        @media(max-width:768px){
          display: none;
        }
			}
			& > li:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 3px;
				height: 100%;
				background: #fff;
        @media(max-width:768px){
          display: none;
        }
			}
			& > .current {
				background: var(--main_color);
				color: #fff;
			}
			& > li > p {
				position: relative;
			}
			& > li > p:before {
				content: "";
				position: absolute;
				top: 50%;
				left: -15px;
				transform: translateY(-50%);
				border: 5px solid transparent;
				border-left: 6px solid #fff;
				@media (max-width: 768px) {
					left: -10px;
				}
			}
		}
		.desc-list-wrapper {
			width: calc((100vw - 32.8%));
			height: auto;
			background: url(../staff/office/img/works-bg.jpg) no-repeat right top/cover;
			@media (max-width: 768px) {
        width: 100%;
			}
			width: calc(100% - 15rem);
		}
		.desc-list {
			height: 100%;
			width: 100%;
			min-width: 500px;
      @media(max-width:768px){
        min-width: 0;
      }
			& > li {
				display: none;
				color: #fff;
				padding: 4rem;
			}
			& > .current {
				position: relative;
				display: block;
			}
			& > li > p {
				position: relative;
				font-size: 2.6rem;
				margin-bottom: 6rem;
				line-height: 1;
			}
			& > li > p:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -15px;
				width: 6rem;
				height: 2px;
				background: #999;
			}
			& > li > .desc-list-2 > li {
				position: relative;
				margin-bottom: 1rem;
				padding-left: 1em;
				text-indent: -0.8em;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.link-list {
			flex-wrap: wrap;
			justify-content: center;
			gap: 6rem;
			@media (max-width: 768px) {
				gap: 2rem;
			}
			li {
				width: 100%;
				max-width: 36.2%;
				@media (max-width: 768px) {
					max-width: 100%;
				}
				.plink.plink_type_box {
					margin-top: 0;
					height: 60px;
				}
			}
		}
	}
	.sec-interview {
		margin-bottom: 7rem;
		.g-headline-treat {
			@media (max-width: 768px) {
				font-size: 4rem;
			}
			@media (max-width: 500px) {
				font-size: 3.5rem;
			}
		}
		.g-headline {
			margin-bottom: 2.7rem;
		}
		.interviewer-list {
			width: calc(90% + 6.5rem);
			max-width: 1365px;
			margin: 0 auto;
			position: relative;
			@media (max-width: 980px) {
				width: 100%;
			}
			.prev-arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 10px;
				z-index: 1;
				width: 40px;
				height: 40px;
				cursor: pointer;
				@media (max-width: 980px) {
					left: 40px;
					width: 30px;
					height: 30px;
				}
			}
			.next-arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 10px;
				z-index: 1;
				width: 40px;
				height: 40px;
				cursor: pointer;
				@media (max-width: 980px) {
					right: 40px;
					width: 30px;
					height: 30px;
				}
			}
			.interviewer {
				margin: 0 calc(6.5rem / 2);
				@media (max-width: 980px) {
					margin: 0 1rem;
				}
				> a {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
				> a img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all 0.5s ease;
				}
				> a:hover img {
					transform: scale(1.1);
					transition: all 0.5s ease;
				}
				.desc-mask {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 32%;
					background: var(--main_color);
					mix-blend-mode: multiply;
					@media (max-width: 1250px) {
						height: 40%;
					}
					@media (max-width: 1100px) {
						height: 45%;
					}
					@media (max-width: 980px) {
						height: 32%;
					}
					@media (max-width: 450px) {
						height: 40%;
					}
				}
				.desc {
					position: absolute;
					left: 0;
					bottom: 0;
					flex-direction: column;
					width: 100%;
					height: 32%;
					padding: 2.5rem;
					@media (max-width: 1250px) {
						height: 40%;
					}
					@media (max-width: 1100px) {
						height: 45%;
					}
					@media (max-width: 980px) {
						height: 32%;
					}
					@media (max-width: 450px) {
						height: 40%;
					}
				}
				.desc > p {
					color: #fff;
				}
				.desc .text {
					margin-bottom: 0;
					font-size: 2.8rem;
					line-height: 1.57;
				}
				.desc .department {
					margin-top: auto;
					margin-bottom: 7px;
					font-size: 1.4rem;
					line-height: 1;
				}
				.desc .name {
					font-size: 1.8rem;
					font-weight: 700;
					line-height: 1;
				}
				.desc .name span {
					margin-left: 5px;
					font-size: 1.4rem;
					font-weight: 500;
					font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic,
						"Yu Gothic Medium", "ヒラギノ角ゴ ProN W3",
						"Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, Roboto,
						"Droid Sans", sans-serif;
				}
				@media (max-width: 1500px) {
					.desc .text {
						font-size: 2.2rem;
					}
					.desc .department {
						font-size: 1.3rem;
					}
					.desc .name {
						font-size: 1.6rem;
					}
					.desc .name span {
						font-size: 1.3rem;
					}
				}
				@media (max-width: 1100px) {
					.desc .text {
						font-size: 1.9rem;
					}
				}
				@media (max-width: 450px) {
					.desc .text {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	.sec-about {
		margin-bottom: 19rem;
		@media (max-width: 768px) {
			margin-bottom: 8rem;
		}
	}
	.sec-about .container {
		> a {
			display: block;
			position: relative;
			text-decoration: none;
			overflow: hidden;
			transition: all 0.5s ease-out;
			width: 80%;
			max-width: 520px;
			height: auto;
			margin: 0 auto;
			@media (max-width: 768px) {
				width: 100%;
			}
		}
		> a:hover > picture > img {
			transform: scale(1.1);
			transition: all 0.5s ease-out;
		}
		> a > h2 {
			position: absolute;
			top: 50%;
			left: 3rem;
			transform: translateY(-50%);
			font-size: 2.6rem;
			font-weight: 400;
			letter-spacing: 0.1em;
			color: #fff;
			line-height: 1.5;
			margin: 0;
			@media (max-width: 600px) {
				font-size: 2rem;
			}
			@media (max-width: 500px) {
				font-size: 1.5rem;
			}
		}
		> a > .r-arrow {
			position: absolute;
			top: 50%;
			right: 4rem;
			transform: translateY(-50%);
			width: 1.6rem;
			height: auto;
			@media (max-width: 600px) {
				width: 1rem;
			}
			@media (max-width: 500px) {
				width: 0.8rem;
			}
		}
	}
	.sec-project {
		position: relative;
		margin-bottom: 12rem;
		@media (max-width: 768px) {
			margin-bottom: 4rem;
		}
		.container {
			position: relative;
			@media (max-width: 768px) {
				height: auto;
			}
		}
		.desc-wrap {
			position: relative;
			.bg {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: calc(100% + (100vw - 100% / 2));
				height: 100%;
				background: #efefef;
				@media (max-width: 768px) {
					height: 100%;
				}
			}
			.desc {
				width: 35%;
				padding: 5rem 0 10rem;
				@media (max-width: 768px) {
					width: 100%;
				}
			}
			.desc .g-headline-treat {
				@media (max-width: 768px) {
					font-size: 4rem;
				}
				@media (max-width: 500px) {
					font-size: 3.5rem;
				}
			}
			.desc .g-headline {
				margin-bottom: 2.8rem;
			}
			.desc > p:last-of-type {
				margin-bottom: 7.7rem;
			}
			.desc .more {
				float: right;
				color: #333;
			}
			.desc .more i {
				margin-left: 1rem;
			}
			.desc .more i:before {
				font-size: 1.6rem;
				color: #333;
			}
		}
		.project-picture-pc {
			position: absolute;
			top: -7rem;
			left: 40%;
			width: calc(100% + (100vw - 100%) / 2);
			height: 43rem;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.project-picture-pc > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.picture-wrapper {
			width: 100vw;
			margin-right: calc(50% - 50vw);
		}
		.project-picture-sp {
			display: none;
			width: 100%;
			height: 43rem;
			margin-bottom: 2.5rem;
			@media (max-width: 768px) {
				display: block;
				height: 20rem;
			}
		}
		.project-picture-sp > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
