.employment ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.employment p {
  font-weight: 500;
}
.employment .employment_mainvisual {
  margin-top: 124px;
  position: relative;
  margin-bottom: 45px;
  height: 300px;
}
@media (max-width: 950px) {
  .employment .employment_mainvisual {
    margin-top: 80px;
  }
}
.employment .employment_mainvisual .img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: none;
}
.employment .employment_mainvisual .caption {
  position: absolute;
  font-size: 4.8rem;
  font-weight: 700;
  left: 0;
  right: 0;
  top: calc(50% - 24px);
  line-height: 1;
  color: #fff;
}
@media (max-width: 768px) {
  .employment .employment_mainvisual .caption {
    font-size: 3.8rem;
  }
}
@media (max-width: 500px) {
  .employment .employment_mainvisual .caption {
    font-size: 2.7rem;
  }
}
.employment h2 {
  font-size: 3.6rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .employment h2 {
    font-size: 3.1rem;
  }
}
@media (max-width: 500px) {
  .employment h2 {
    font-size: 2.6rem;
  }
}
.employment .sec-message {
  margin-bottom: 105px;
}
@media (max-width: 768px) {
  .employment .sec-message {
    margin-bottom: 80px;
  }
}
.employment .sec-message h2 {
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .employment .sec-message h2 {
    margin-bottom: 40px;
  }
}
.employment .sec-forte {
  margin-bottom: 90px;
}
.employment .sec-forte h2 {
  margin-bottom: 40px;
}
.employment .sec-forte .container .forte-wrap {
  position: relative;
  padding: 25px 0 100px;
}
@media (max-width: 768px) {
  .employment .sec-forte .container .forte-wrap {
    padding-bottom: 60px;
  }
}
.employment .sec-forte .container .forte-wrap .back-picture {
  position: absolute;
  z-index: -1;
  background-image: url("../employment/img/employment-back.jpg");
  height: 100%;
  top: 0;
  width: calc(100% + (100vw - 100%) / 2);
}
.employment .sec-forte .container .forte-wrap .caption {
  max-width: 540px;
}
.employment .sec-forte .container .forte-wrap .img {
  width: 90%;
  max-width: 520px;
  margin: 30px auto 70px;
  display: block;
}
.employment .sec-forte .container .forte-wrap .forte-list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .employment .sec-forte .container .forte-wrap .forte-list {
    display: block;
  }
}
.employment .sec-forte .container .forte-wrap .forte-list li {
  width: 30.5%;
}
@media (max-width: 768px) {
  .employment .sec-forte .container .forte-wrap .forte-list li {
    width: 100%;
  }
  .employment .sec-forte .container .forte-wrap .forte-list li:not(:last-child) {
    margin-bottom: 50px;
  }
}
.employment .sec-forte .container .forte-wrap .forte-list li h3 {
  font-size: 2.6rem;
  font-weight: 500;
  position: relative;
  color: #333;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .employment .sec-forte .container .forte-wrap .forte-list li h3 {
    font-size: 2.4rem;
    margin-bottom: 35px;
  }
}
@media (max-width: 500px) {
  .employment .sec-forte .container .forte-wrap .forte-list li h3 {
    font-size: 2.2rem;
  }
}
.employment .sec-forte .container .forte-wrap .forte-list li h3:after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: var(--main_color);
  left: 0;
  bottom: -12px;
  position: absolute;
}
.employment .sec-info {
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .employment .sec-info {
    margin-bottom: 40px;
  }
}
.employment .sec-info h2 {
  margin-bottom: 0;
}
.employment .sec-info h3 {
  margin-top: 70px;
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .employment .sec-info h3 {
    font-size: 2.4rem;
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .employment .sec-info h3 {
    font-size: 2rem;
  }
}
.employment .sec-info ul {
  flex-wrap: wrap;
  justify-content: space-between;
}
.employment .sec-info ul li {
  width: 100%;
  max-width: 31%;
  margin-top: 40px;
}
@media (max-width: 1100px) {
  .employment .sec-info ul li {
    max-width: 46.5%;
  }
}
@media (max-width: 768px) {
  .employment .sec-info ul li {
    max-width: 100%;
    margin-top: 30px;
  }
}
.employment .sec-info ul li .plink.plink_type_box {
  margin-top: 0;
  height: 60px;
}

ul#demo2_headline {
  float: left;
  width: 30%;
  margin: 10px 0px 0 0;
  padding: 0;
}

ul#demo2_headline li {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0;
  background-color: #AAA;
  text-align: center;
  cursor: pointer;
}

ul#demo2_headline li.current {
  background-color: #FFF;
}

ul#demo2_story {
  float: left;
  width: 70%;
  margin: 10px 0 0 0px;
  padding: 0;
}

ul#demo2_story li {
  display: none;
  vertical-align: top;
  height: 150px;
  background-color: #FFF;
  padding: 5%;
  z-index: 2;
}

ul#demo2_story li.current {
  display: block;
}/*# sourceMappingURL=page_employment.css.map */